
div{
    display: inline-block;
    width:100%
}
.D1 {

    background-color: rgb(245,240,230);
}
.D2 {

    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
}
.w {
    color: white;
}
ul{
    display:block;
    margin: 1;
    background-color: #182b49;
}