div {
  display: inline-block;
  width: 100%;
}
.D1 {
  background-color: rgb(245, 240, 230);
}
.D2 {
  background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
}
.w {
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #182b49;
}
li {
  float: left;
}
li a {
  display: block;
  color: aqua;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}
li a:active {
  background-color: #04aa6d;
}
